*{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
}
body{
          padding: 20px;
}
.container{
          border: 2px solid black;
          margin-inline: auto;
          max-width: 800px;
          min-height: 600px;
          display: flex;
          gap: 3rem;
          justify-content:center;
          align-items:center;
          /* flex-direction:row-reverse; */
          /* flex-wrap: wrap; */
          flex-flow: row wrap;
          align-content:center;
}
.box{
          min-width: 100px;
          height: 100px;
          background-color: beige;
          padding-left: 10px;
          font-size: 2rem;
          
          display: flex;
          justify-content: center;
          align-items: center;
}
.box:nth-child(3){
          flex: 2 2 150px;
          order: 1;
}